DISCORD_TOKEN=
WATCHMODE_API_KEY=
WATCHMODE_REGION=US
WATCHMODE_LIMIT=80

TARGET_CHANNEL_ID=
CONTROL_CHANNEL_ID=
DELETE_CONTROL_MESSAGES=false
ALLOWED_USER_IDS=
ALLOWED_ROLE_IDS=

MOD_LOG_CHANNEL_ID=
SQLITE_PATH=data/bot.db

REP_ANNOUNCE_CHANNEL_ID=
REP_PLUS_EMOJI=👍

TRANSLATE_API_URL=
TRANSLATE_API_KEY=
TRANSLATE_SOURCE_LANG=auto
TRANSLATE_TARGET_LANG=ru
SHOW_BOTH_TITLES=1
